
// Remember when you pass the variables to the parameters, have to be in order, or remember to assign the value to the keyword arguments

@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
    display: $disp;
    flex-direction: $dir;
    flex: $wrap;
    justify-content: $just;
    align: $align;
}
